@import '../styles/meta';
@import '../styles/layout';

.main {
  padding-top: $header-height;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;

  &.has-songs {
    .section--left {
      flex: 1.5 1 0%;
    }
  }
}

[class*="section--"] {
  overflow: auto;
}

.section--left {
  flex: 1.5 1 100%;
  transition: flex 0.3s $ease-in-out-quart;
  will-change: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 4rem;

  .section__inner {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.section--right {
  flex: 1;
  background: -color(firefly);
  position: relative;
  height: 100%;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, -color(firefly), rgba(7, 26, 47, 0));
    pointer-events: none;
  }

  .section__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.section--player {
  &:hover {
    .controls__seek {
      opacity: 1;
    }
  }
}

.root {
  background-color: -color(royal);
  transition: all 0.4s $ease-in-out-quart;
  backface-visibility: hidden;
}

.pushed-back {
  transform: scale(0.95);
}