@import '../styles/meta';

.header {
  width: 100%;
  height: $header-height;
  background: -color(biscay);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  color: -color(white);
  z-index: -z(header);

  &__logo {
    font-family: $overpass;
    font-size: 2.4rem;
  }

  &__burger {
    align-items: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;

    span {
      display: block;
      width: 3rem;
      min-width: 0;
      height: 3px;
      background: -color(white);
      position: relative;
      margin: auto;
      transition: background-color 0.1s linear;

      &:before,
      &:after {
        content: "";
        width: 3rem;
        height: 3px;
        position: absolute;
        left: 0;
        background: -color(white);
        will-change: transform, opacity;
        transition: all 0.5s $ease-in-out-quart;
      }

      &:before {
        transform: translateY(-0.8rem);
      }

      &:after {
        transform: translateY(0.8rem);
      }
    }

    &.is-open {
      span {
        background-color: transparent;

        &:before {
          transform: translateY(0) rotate(135deg);
          top: 0;
        }

        &:after {
          transform: translateY(0) rotate(-135deg);
          top: 0;
        }
      }
    }
  }
}