@import '../styles/meta';

.header {
  width: 100%;
  height: $header-height;
  background: -color(biscay);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  color: -color(white);
  z-index: -z(header);

  &__logo {
    font-family: $primary-font;
    font-size: 2.4rem;
    font-weight: -weight(bold);
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: -color(white);
      width: 3.6rem;
      height: 3.6rem;
      margin-right: 1rem;
      margin-top: 0.2rem;
    }
  }
}