@import '../styles/meta';

.now-playing {
  @extend %fill-background;

  height: 0;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  
  &.paused {
    &:before {
      opacity: 1;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -z(background, -1);
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -z(content);
    padding: 3rem;
  }

  &:before {
    @extend %overlay;

    background-image: linear-gradient(to bottom right, #760E85 0%, #7D2B0A 100%);
    opacity: 0.8;
    z-index: -z(background);
    transition: opacity 0.2s $ease-in-out-quart;
  }

  &__heading {
    text-align: center;

    span {
      display: block;

      &:nth-child(1) {
        @include small-caps();
      }

      &:nth-child(2) {
        @include hd-a();

        font-size: 2.4vw;
        margin-top: 1rem;

        @include above(mobile) {
          font-size: 2.4vw;
        }
      }
    }
  }
}