@import '../styles/meta.scss';

.playlist {
  padding: 4rem;
  overflow-y: scroll;
  flex: 1;

  &__up-next {
    @include small-caps();
  }

  &__list {
    padding-top: 2rem;
    color: -color(white);
  }

  &__item {
    @include copy-c();

    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    padding: 0.5rem 0;
    align-items: flex-start;

    &:hover {
      .playlist__icon {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__order {
    width: 4rem;
    flex-shrink: 0;
  }

  &__title {
    flex: 1;
    cursor: pointer;
  }

  &__icon {
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0;
    margin-left: 0.5rem;
    transform: translateX(1rem);
    transition: all 0.25s $ease-in-out-quart;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: -color(white);
    }
  }

  &::-webkit-scrollbar {
    background-color: -color(firefly);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: -color(biscay);
    border: 4px solid -color(firefly);
  }

  // react animations
  &-enter {
    transition: all 0.5s $ease-in-out-quart;
    transform: translateX(-120%);
    opacity: 0;

    &.playlist-enter-active {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &-leave {
    transition: all 0.3s;
    transform: translateX(0);

    &.playlist-leave-active {
      transform: translateX(120%);
      opacity: 0;
    }
  }
}