@import '../styles/meta.scss';

.playlist {
  padding: 4rem;
  overflow-y: scroll;
  flex: 1;

  &__up-next {
    @include small-caps();
  }

  &__list {
    padding-top: 2rem;
    color: -color(white);
  }

  &__item {
    @include copy-c();

    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    padding: 0.5rem 0;
    align-items: flex-start;

    &:hover {
      .playlist__close {
        visibility: visible;
      }
    }
  }

  &__order {
    width: 4rem;
    flex-shrink: 0;
  }

  &__title {
    flex: 1;
  }

  &__close {
    padding-left: 1rem;
    cursor: pointer;
    visibility: hidden;
    margin-left: 0.5rem;
    margin-top: 0.5rem;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      fill: -color(white);
    }
  }
}