@import '../styles/meta';

.results {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar {
    background-color: -color(royal);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 4px solid -color(royal);
    background-color: -color(biscay);
    transition: all 0.2s linear;
  }

  &__list {
    width: 100%;
    overflow: hidden;
  }
}

$results: 4;

.result {
  @extend %song-picker-width;

  &__link {
    width: 100%;
    text-align: left;
    display: flex;
    padding: 2.4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: $border-radius;

    &:hover,
    &:focus {
      @extend %big-shadow;

      background-color: white;

      .result__title,
      .result__channel,
      .result__length {
        color: -color(firefly);
      }
    }
  }

  &__image {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 3.6rem;
    margin-right: 2.4rem;
    background-color: -color(firefly);
    background-size: cover;
    background-position: center center;

    @include below(mobile) {
      display: none;
    }
  }

  &__contents {
    flex: 1;
  }

  &__title {
    @include hd-b();
  }

  &__channel {
    @include copy-b();

    opacity: 0.5;
  }

  &__length {
    @include hd-b();

    margin-left: 1rem;
    text-align: right;
  }

  &__link,
  &__title,
  &__channel,
  &__length {
    transition: all 0.5s $ease-out-quint;
  }

  &-enter {
    transition: all 0.15s $ease-in-out-quart;
    transform: translateY(3rem);
    opacity: 0;

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transition-delay: 0.05s + $i / 20;
      }
    }

    &.result-enter-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &-leave {
    transition: all 0.5s;
    transform: translateX(0);

    &.result-leave-active {
      transform: translateX(120%);
    }
  }
}