@import '../styles/meta';

.search {
  @extend %song-picker-width;

  position: relative;

  &__icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    top: 1.2rem;
    right: 2.3rem;
    cursor: pointer;

    svg {
      fill: -color(biscay);
    }

    &:hover {
      svg {
        fill: -color(royal);
      }
    }
  }

  &__input {
    input {
      @extend %strip-input-style;
      @include hd-search();

      width: 100%;
      height: 6.4rem;
      padding-right: 6.4rem;
      padding-left: 3.2rem;
      line-height: 1.4;
      background-color: -color(white);
      border-radius: 3.2rem;
      transition: all 0.2s $ease-in-out-quart;

      &:focus {
        @extend %big-shadow;
      }
    }
  }
}