@import '../styles/meta';

@keyframes searching {
  0% {
    background-position:0% 50%
  }

  50% {
    background-position:100% 50%
  }

  100% {
    background-position:0% 50%
  }
}

.search {
  @extend %song-picker-width;

  position: relative;

  &.is-searching {
    &:after {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:after {
    content: "";
    width: calc(100% + 0.6rem);
    height: calc(100% + 0.6rem);
    background: linear-gradient(to right, #CE10B2 0%, #DAB53E 33%, #CE10B2 66%, #DAB53E 100%);
    background-size: 300% 100%;
    z-index: -10;
    position: absolute;
    top: -0.3rem;
    left: -0.3rem;
    border-radius: 3.6rem;
    animation: searching 2s ease infinite;
    opacity: 0;
    transform: scale(0.99, 0.94);
    transition: all 0.3s linear;
  }

  &__icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    top: 1.2rem;
    right: 2.3rem;
    cursor: pointer;

    svg {
      fill: -color(biscay);
    }

    &:hover {
      svg {
        fill: -color(royal);
      }
    }
  }

  &__input {
    input {
      @extend %strip-input-style;
      @include hd-search();

      width: 100%;
      height: 6.4rem;
      padding-right: 6.4rem;
      padding-left: 3.2rem;
      line-height: 1.4;
      background-color: -color(white);
      border-radius: 3.2rem;
      transition: all 0.2s $ease-in-out-quart;

      &:focus {
        @extend %big-shadow;
      }
    }
  }
}

.react-autosuggest__suggestions-container {
  background-color: -color(white);
  width: 100%;
  border-radius: 0.8rem;
  margin-top: 1.2rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -z(overlay);
  transform: translateY(1rem);
  opacity: 0;

  &--open {
    transform: translateY(0);
    opacity: 1;
    padding: 1.6rem 0;
    transition: opacity 0.3s $ease-out-quint, transform 0.2s $ease-out-quint;
  }
}

.react-autosuggest__suggestion {
  @include hd-search();

  padding: 0.4rem 3.2rem;
}

.react-autosuggest__suggestion--highlighted {
  background-color: -color(royal);
  color: -color(white);
}